<!-- Footer -->
<footer class="page-footer  orange darken-2" style="margin-top: 3em;">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><%= lang.partials.footer.sections.platform.name %></h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/"><%= lang.partials.footer.sections.platform.links.home %></a></li>
                    <li><a class="grey-text text-lighten-3" href="/sitemap"><%= lang.partials.footer.sections.platform.links.sitemap %></a></li>
                    <li><a class="grey-text text-lighten-3" href="/credits"><%= lang.partials.footer.sections.platform.links.credits %></a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><%= lang.partials.footer.sections.social.name %></h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/redirect/discord">Discord</a></li>
                    <li><a class="grey-text text-lighten-3" href="/redirect/twitter">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="/redirect/github">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017 <%= lang.meta.name %>
            <a class="grey-text text-lighten-4 right" href="/legal"><%= lang.partials.footer.legal %></a>
        </div>
    </div>
</footer>
