<!DOCTYPE html>
<html>
    <% include ../partials/head.ejs %>
    <body>
        <% include ../partials/navbar.ejs %>

        <!-- TODO: Add links -->
          <div class="container">
            <!-- The whole Sitemap -->
            <div class="row">
              <!-- Cards -->
                <div class="col s12">
                    <div class="card-panel orange margin-top-3em">
                        <span class="white-text">
                          <!-- head-title of Sitemap -->
                          <h4 class="center-align"> <b> <%= lang.sites.Sitemap.title %> </b> </h4>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="white-text col s6">
                    <div class="orange margin-top-05em">
                      <ul class="collection with-header ">
                        <!-- Link to Homepage -->
                        <li class="collection-header orange"><h5> <%= lang.sites.Sitemap.categories.home.title %></h5></li>
                        <li class="collection-item orange"><h6><a href="/" class="white-text hoverable"><%= lang.sites.Sitemap.categories.home.points.home %></a></h6></li>
                      </ul>
                    </div>
                    <div class="orange margin-top-05em">
                      <ul class="collection with-header ">
                        <span class="flow-text">
                          <!-- Links of all our social media plattforms -->
                          <li class="collection-header orange"><h5> <%= lang.sites.Sitemap.categories.social.title %></h5></li>
                          <li class="collection-item orange"><h6><a href="/redirect/discord" class="white-text hoverable"><%= lang.sites.Sitemap.categories.social.points.discord %></a></h6></li>
                          <li class="collection-item orange"><h6><a href="/redirect/twitter" class="white-text hoverable"><%= lang.sites.Sitemap.categories.social.points.twitter %></a></h6></li>
                          <li class="collection-item orange"><h6><a href="/redirect/github" class="white-text hoverable"><%= lang.sites.Sitemap.categories.social.points.GitHub %></a></h6></li>
                        </span>
                      </ul>
                    </div>
                    <div class="orange margin-top-05em">
                      <ul class="collection with-header ">
                        <span class="flow-text">
                          <!-- Links for account administration -->
                          <li class="collection-header orange"><h5> <%= lang.sites.Sitemap.categories.Account.title %></h5></li>
                          <li class="collection-item orange"><h6><a href="/panel/register" class="white-text hoverable"><%= lang.sites.Sitemap.categories.Account.points.registration %></a></h6></li>
                          <li class="collection-item orange"><h6><a href="/panel/login" class="white-text hoverable"><%= lang.sites.Sitemap.categories.Account.points.login %></a></h6></li>
                        </span>
                      </ul>
                    </div>
                    <div class="orange margin-top-05em">
                      <ul class="collection with-header ">
                        <span class="flow-text">
                          <!-- Links for all the legales things -->
                          <li class="collection-header orange"><h5> <%= lang.sites.Sitemap.categories.Legales.title %></h5></li>
                          <li class="collection-item orange"><h6><a href="/legal" class="white-text hoverable"><%= lang.sites.Sitemap.categories.Legales.points.legales %></a></h6></li>
                          <li class="collection-item orange"><h6><a href="#!" class="white-text hoverable"><%= lang.sites.Sitemap.categories.Legales.points.agreements %></a></h6></li>
                          <li class="collection-item orange"><h6><a href="#!" class="white-text hoverable"><%= lang.sites.Sitemap.categories.Legales.points.privacy_policy %></a></h6></li>
                          <li class="collection-item orange"><h6><a href="#!" class="white-text hoverable"><%= lang.sites.Sitemap.categories.Legales.points.Credits %></a></h6></li>
                        </span>
                      </ul>
                    </div>
                    <div class="orange margin-top-05em">
                      <ul class="collection with-header">
                        <span class="flow-text">
                          <!-- Links for User-Help -->
                          <li class="collection-header orange"><h5> <%= lang.sites.Sitemap.categories.help_center.title %></h5></li>
                          <li class="collection-item orange"><h6><%= lang.sites.Sitemap.categories.help_center.points.help_login %></h6></li>
                          <li class="collection-item orange"><h6><%= lang.sites.Sitemap.categories.help_center.points.help_account %></h6></li>
                          <li class="collection-item orange"><h6><%= lang.sites.Sitemap.categories.help_center.points.help_API %></h6></li>
                          <li class="collection-item orange"><h6><%= lang.sites.Sitemap.categories.help_center.points.help_mails %></h6></li>
                          <li class="collection-item orange"><h6><%= lang.sites.Sitemap.categories.help_center.points.help_language %></h6></li>
                        </span>
                      </ul>
                    </div>
                    <div class="orange margin-top-05em">
                      <ul class="collection">
                        <!-- What if the help above doesn't help? -->
                        <li class="collection-item orange"><h5 class="flow-text"><%= lang.sites.Sitemap.categories.help_center.points.help_ticket %></h5></li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>

        <% include ../partials/scripts.ejs %>
        <% include ../partials/footer.ejs %>
    </body>
</html>
